
{% extends 'base.html' %}

{% block content %}


{% if error %}
{{ error }}

<br/>
<br/>
{% endif %}

<style>
    .form-center {
    display:flex;
    justify-content: center;
  }
</style>

<div class="form-center">
   
<form method = "POST" action="{% url 'users:login' %}">
    <h1>Login!</h1>
    {% csrf_token %}
    Username:
    <br/>
    <input type="text" name="username" />
    <br/>
    Password:
    <br/>
    <input type="password" name="password" />
    <br/>
    <input class ="btn btn-primary" type="submit" value= "Login" />
    <br/>

    <p class="text-center">If you already have an account, <a href="{% url 'users:register' %}">Signup</a> instead.</p>
   
</form>

</div>
{% endblock %}
