

{% extends 'base.html' %}

{% block content %}


{% if error %}
{{ error }}

<br/>
<br/>
{% endif %}

<style>
    .form-center {
    display:flex;
    justify-content: center;
  }
</style>
<div class="form-center">


<br/>
<form method = "POST" action="{% url 'users:register' %}">
    <h1>Signup!</h1>
    {% csrf_token %}
    Username:
    <br/>
    <input type="text" name="username" />
    <br/>
    Password:
    <br/>
    <input type="password" name="password1" />
    <br/>
    confirm Password:
    <br/>
    <input type="password" name="password2" />
    <br/>
    <input class ="btn btn-primary" type="submit" value= "Signup" />
    <br/>



    <p class="text-center">If you already have an account, <a href="{% url 'users:login' %}">login</a> instead.</p>
</form>
</div>

{% endblock %}
